<launch>

      <node pkg="giskard_ros"
            type="joint_state_separator" name="pr2_cmd_separator" output="screen" >
        <rosparam param="joint_names" file="$(find giskard_pr2)/config/pr2_upper_body.yaml" />
        <param name="robot_description_parameter_name" value="/robot_description" type="str" />
        <param name="output_twist" value="true" type="bool" />
        <remap from="~joint_states" to="/whole_body_controller/velocity_controller/command" />
      </node>

</launch>
